.tx-pnfgallery-pi1 .widget {
	position: relative;
}
.tx-pnfgallery-pi1 .widget .title{ 
	font-size: 16px;
	color: #FFF;
	font-weight: normal;
	font-family: Arial;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #2C4693;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.tx-pnfgallery-pi1 .widget .title span {
	padding: 0 10px;
}
.tx-pnfgallery-pi1 .widget h2 {
	font-weight:normal;
	font-size:19px;
	color:#2c4693;
	float:left;
	margin:0;
	padding:0;
}

.tx-pnfgallery-pi1 .widget .imageContainer {
	clear:both;
}

.tx-pnfgallery-pi1 .widget .pnf-gallery-all,
.tx-pnfgallery-pi1 .widget img {
	display:block;
	float:left;
	border:1px solid #FFF
}

.tx-pnfgallery-pi1 .widget .pnf-gallery-all {
	height:111px;
	width:112px;
	display:block;
	float:left;
	border:1px solid #FFF;
	background-color:#2C4693;	
}

.tx-pnfgallery-pi1 .widget .pnf-gallery-all span {
	text-align:center;
	color:#FFF;
	font-size:12px;
	font-family:arial;
	padding-top:20px;
	line-height:20px;
	display:block;
	height:100px;
	background: url("ico_moins.png") no-repeat scroll 44px 70px transparent;
}